@import '../../scss/smart-grid.sass';
@import '../../scss/vars.scss';

.header{
  // border: 1px solid black;
  padding: 20px 0;

  width: 100%;
}

.headerWrap{
  display: flex;
  justify-content: space-around;
  border: 1px solid rgb(86, 86, 219);
  border-radius: .2rem;
  padding: 1rem;
}

.menu{
  font-family: sans-serif;
  font-size: 1rem;
  color: black; 

  border: 1px solid rgb(86, 86, 219);
  border-radius: .2rem;
  overflow: hidden;

  &__ul{
    display: flex;
  }

  &__a{
    // border: 1px solid blue;
    position: relative;    
    transition: .2s;

    &_active{
      background-color: #ffce0c;
    }
  }

  &__li{
    position: relative;
    padding: .5rem 1rem;
  }
  
}

.content{
  width: 100%;
  padding: 20px 0;
  
  @media screen and(min-width: 1921px){
    padding: 1vw 0;
  }

  @media screen and(max-width: 1200px){
    padding: 2vw 0;
  }
}