.card{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  font-family: sans-serif;
  padding: .5rem;

  border: 1px solid #ffce0c;
  border-radius: .2rem;
  overflow: hidden;

  &__title{
    margin: 0;
  }

  &__body{
    margin: 15px 0;
  }

  &__date{    
    font-style: italic;
    color: rgb(206, 204, 204);
    margin: auto 0 0 0;
  }
}